<!DOCTYPE html>  
<html lang="en" class=" js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">>
  <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">@media print {  .gmnoprint {    display:none  }}@media screen {  .gmnoscreen {    display:none  }}</style>
    <title>WHAT THE FUCK SHOULD I GO DO?</title>
    <style type="text/css">.pac-container{background-color:#fff;border:1px solid #ccc;overflow:hidden}.pac-container:after{padding-top:3px;text-align:right;display:block;font-size:0}.pac-item{cursor:pointer;padding:0 4px;text-overflow:ellipsis;white-space:nowrap}.pac-item:hover{background-color:#f0f0ff}.pac-selected{background-color:#d5ddf3}.pac-placeholder{color:gray}.pac-container:after {content:url("https://maps.gstatic.com/mapfiles/powered-by-google-on-white.png");}
    </style>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- <meta property="og:title" content="WHAT THE FUCK SHOULD I GO DO?">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://wherethefuckshouldigotoeat.com">
    <meta property="og:image" content="http://wherethefuckshouldigotoeat.com/apple-touch-icon-114x114-precomposed.png">
    <meta name="og:site_name" content="WTFSIGTE">
    <meta name="og:description" content="WHERE THE FUCK SHOULD I GO TO EAT">
    <meta name="description" content="WHERE THE FUCK SHOULD I GO TO EAT?"> -->
    <!-- Included CSS Files -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <link href="/public/assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/public/stylesheets/foundation.css" rel="stylesheet">  
    <link href="/public/stylesheets/app.css" rel="stylesheet">
  </head>
  <body>
    <!-- container -->
    <div class="container">
      <!-- login -->
      <!-- <div id="login" class="row">
        <div class="twelve columns">
          <input id="login" placeholder="WHO THE FUCK ARE YOU?" type="text" autocomplete="off">
          <div class="four columns"> <a href="/" id="fblogin" title="LOG THE FUCK IN">log the fuck in</a> </div>
        </div>
      </div> -->
      <!-- recommendation --> 
      
      <div id="recommendation" class="row">
        <div class="twelve columns">
          <span class="response">
            Why don't you fux with<br><%= @verb %><a href="http://facebook.com/<%= @activity['id'] %>">Test activity<%= @activity['name']%></a><br><img src="activityPicture" alt="activityPicture" align="middle"><br>with <a href="http://facebook.com/<%= @rand_friend['id'] %>"><%= @rand_friend['name'] %>test friend</a>.<br><img src="friendPicture" alt="friendPicture" align="middle"><br>
          </span>
        </div>
      </div>
      <!-- actions -->
      <div id="actions" class="row" style="display: block;">
        <div class="four columns"> <a href="/" id="logout" title="WRONG FACEBOOK LOGIN DUMBASS">this isn't fucking me</a> </div>
        <div class="four columns"> <a href="/" id="next" title="FUCK YOU BRO">no, that sounds fucking stupid</a> </div>
        <div class="four columns"> <a href="/" id="blockperson" title="FUCK THIS PERSON">no more of this fucking person</a> </div>
      </div>
      <div id="peopleactions" class="row" style="display: block;">
      	<div class="four columns"> <a href="/" id="randomPeople" title="ALL RANDOM FUCKING PEOPLE">only fucking random people</a> </div>
      	<div class="four columns"> <a href="/" id="nearbyPeople" title="ALL NEARBY FUCKING PEOPLE">only people fucking close to me</a> </div>
      	<div class="four columns"> <a href="/" id="talkPeople" title="ALL PEOPLE I FUCKING TALK TO">people i actually fucking talk to</a> </div>
      </div>
    </div>
    <script src="/public/assets/js/bootstrap.min.js"></script>
  </body>
</html>
